/* flash01-dsa */

/* Für Listenerstellung */

.cboxListe {
	position:		relative;
	display:		table-cell;
	vertical-align:	middle;
	width:			10px;
	font-size:		16px;
}

.antwListe {
	position:		relative;
	display:		table-cell;
	vertical-align:	middle;
	width:			100%;
	font-size:		12px;
	font-weight:	normal;
}

.antwort {
	position:		relative;
	vertical-align:	middle;
	width:			100%;
	font-size:		16px;
}

/* ----ENDE flash CSS---- */